<div class="container">



    <div class="card mt-5" style="width:30rem; margin:0 auto;">

      <div class="card-body text-center">

        <h1>Typing Challenge</h1>

        <p class="card-text mt-4">
          <span *ngFor="let letter of randomtext.split(''); let i = index"
          [class] = "compare(letter, userInput[i])"
          >{{letter}}</span>
          </p>

        <div class="mb-3">

          <input type="text" class="form-control"(input)="onInput($event)" >

        </div>

        <h3 *ngIf="userInput===randomtext" class="text-success">Success!!</h3>

      </div>

    </div>

  </div>



















<!--
<div class="container text-center mt-5">
<div class="card mt-5" styles="width:30rem; margin:0 auto;">
<h1>TypingMaster</h1>
<p>Randomly Generated Text Should Appear here</p>
<input/><br>
<h1>Success</h1>
</div>
</div>
-->





